manim-env/
media/
*__pycache__/
videos/
*.jsonl
*.mp4
*.mov
*env*/
node_modules/
.env.development
ssl-certificate.key
ssl-certificate.crt
*transcripts/
*3b1b_videos.json
*3b1b_videos_with_code.json
*3b1b_dataset/
*3b1b_repo/
*unmatched_videos.json
*year_distribution.png
*confidence_distribution.png
*match_types.png
nohup.out
no_code.json
*playlist_videos.json